body{
  background: url(https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-01/220128-chihuahua-mb-0853-a252ab.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}